@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #050505;
    font-family: 'Courier Prime', monospace;
    color: #dcdcdc;
    touch-action: none;
    user-select: none;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #111;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

/* UI Overlay Styles */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.95);
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    z-index: 10;
    transition: opacity 0.5s;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    display: none;
    /* Important pour que l'écran lore ne bloque pas les clics après */
}

/* Typography */
h1 {
    font-size: 1.8rem;
    color: #e65100;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-shadow: 0 0 15px rgba(230, 81, 0, 0.4);
    border-bottom: 1px solid #e65100;
    padding-bottom: 10px;
}

h2 {
    font-size: 1.2rem;
    color: #fff;
    margin-top: 0;
    margin-bottom: 15px;
    text-decoration: underline;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 600px;
    margin-bottom: 20px;
    color: #bbb;
    text-align: justify;
}

.instruction-list {
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
    color: #ddd;
    font-size: 0.95rem;
    line-height: 1.8;
}

.highlight {
    color: #e65100;
    font-weight: bold;
}

/* Buttons */
.btn {
    background: rgba(230, 81, 0, 0.1);
    border: 2px solid #e65100;
    color: #e65100;
    padding: 15px 40px;
    font-size: 1.1rem;
    font-family: inherit;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s;
    margin-top: 30px;
    border-radius: 2px;
    letter-spacing: 1px;
}

.btn:active,
.btn:hover {
    background: #e65100;
    color: #000;
    box-shadow: 0 0 20px rgba(230, 81, 0, 0.6);
}

/* HUD */
#hud {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 1.2rem;
    pointer-events: none;
    z-index: 5;
    text-shadow: 0 0 5px #000;
}

#timer.danger {
    color: #ff3333;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

#joystick-hint {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    font-size: 0.8rem;
    pointer-events: none;
    z-index: 4;
}