@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    font-family: 'Share Tech Mono', monospace;
    background-color: #0f172a;
    /* Slate 900 */
    touch-action: manipulation;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}

/* --- Effets Visuels Globaux --- */
.scanline {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2));
    background-size: 100% 4px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 50;
}

.glitch {
    animation: glitch-anim 0.3s infinite;
}

@keyframes glitch-anim {
    0% {
        transform: translate(0)
    }

    20% {
        transform: translate(-2px, 2px)
    }

    40% {
        transform: translate(-2px, -2px)
    }

    60% {
        transform: translate(2px, 2px)
    }

    80% {
        transform: translate(2px, -2px)
    }

    100% {
        transform: translate(0)
    }
}

/* --- Styles Spécifiques aux Contrôles --- */
input[type=range] {
    -webkit-appearance: none;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #22d3ee;
    /* Cyan-400 */
    cursor: pointer;
    margin-top: -10px;
    box-shadow: 0 0 10px #22d3ee;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #334155;
    border-radius: 2px;
}

/* --- Animations de l'écran de fin --- */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.typing-effect {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #4ade80;
    animation: typing 2s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #4ade80;
    }
}

.matrix-bg {
    background-image: linear-gradient(0deg, transparent 24%, rgba(34, 211, 238, .1) 25%, rgba(34, 211, 238, .1) 26%, transparent 27%, transparent 74%, rgba(34, 211, 238, .1) 75%, rgba(34, 211, 238, .1) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(34, 211, 238, .1) 25%, rgba(34, 211, 238, .1) 26%, transparent 27%, transparent 74%, rgba(34, 211, 238, .1) 75%, rgba(34, 211, 238, .1) 76%, transparent 77%, transparent);
    background-size: 30px 30px;
}